dicomsdl
loguru
matplotlib
numpy
nvidia-tensorrt
nvidia-pyindex  # required for TensorRT
opencv-python
pandas
Pillow
psutil
pydicom
scikit-learn
scikit-image
scipy
seaborn
tensorrt  # TensorRT (ensure this is compatible with your CUDA version)
torch
git+https://github.com/NVIDIA-AI-IOT/torch2trt.git #torch2trt
torchvision
tqdm
yacs