dicomsdl
loguru
matplotlib
numpy
nvidia-tensorrt==8.5.3.1  # Specify version of TensorRT
nvidia-pyindex  # Required for TensorRT
opencv-python
pandas
Pillow
psutil
pydicom
scikit-learn
scikit-image
scipy
seaborn
tensorrt
torch
torch2trt
torchvision
tqdm
yacs